
.navbar p {
    display: inline;
    margin-right: 20px;
    margin-left: 27px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar button {
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: rgba(173, 0, 18, 0.69);
    color: white;
    text-decoration: none;
    cursor: pointer; /* Делаем курсор при наведении на кнопку */
}

.my-form {
    max-width: 400px; /* Ширина формы, если требуется */
    margin: 0 auto; /* Центрирование формы по горизонтали */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Стилизация полей формы */

.my-form {
    margin-top: 20px;
}

.my-form p {
    margin: 10px 0;
}

.my-form label {
    display: block;
    font-weight: bold;
}

.my-form input,
.my-form select,
.my-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стилизация кнопки отправки формы */
.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.my-form textarea {
    width: 100%; /* Ширина элемента на 100% ширины родительского контейнера */
    min-height: 100px; /* Минимальная высота элемента */
    max-height: 300px; /* Максимальная высота элемента */
    resize: none; /* Запрещаем изменение размера элемента */
}

.navbar p {
    padding-left: 50px;
    font-weight: bold;
}

.wrapper {
    margin-top: 15px;
}

.logout-button {
    margin-left: -20px;
}

.wrapper-courses a {
    text-decoration: none;
    color: rgba(35, 69, 45, 0.58);
}

.wrapper-courses a:hover {
    text-decoration: underline;
}