{% extends 'blog/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="whole-registration">
    <h1>Let's log in!</h1>
    <div class="wrapper-register">
        <form method="POST">
            <div class="register-form">
                {% csrf_token %}
                <div class="label-login">
                    <label>
                        <p>Username</p>
                        <input type="text" name="username">
                    </label><br><br>
                    <label>
                        <p>Password</p>
                        <input type="password" name="password">
                    </label><br><br>
                </div>
            </div>
            <button class="centered-button" type="submit">Login</button>

            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}

        </form>
    </div>
</div>
{% endblock %}